:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3546ce;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: rgb(147, 169, 240);
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
		Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
}

html {
    background: url(../images/tanbarblue.jpg) no-repeat center center fixed; 
    -webkit-background-size: 60%;
    -moz-background-size: 60%;
    -o-background-size: 60%;
    background-size: 60%;
}


*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: transparent;
}


nav {
	background-color: var(--secondary)!important;
	font-size: 30px;
	font-family: var(--font-family-sans-serif);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.success {
    margin-top: 80px;

}

.btn-outline-success {
    color: black;
    border-color: black;
}

.btn-outline-success:hover {
    background-color: var(--secondary);
    color: black;
    border-color: black;
}



.content {
    
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    margin: 0 auto;
    min-height: calc(100vh - 126px);
}

.content-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: calc(100vh - 150px);
    padding: 20px;
    padding-bottom: 50px;
    
    background-color: white;
    opacity: .5;
    border: var(--secondary) dotted 1px;
    width: 80%;
    height: 600px;
    
}

.infobox { 
    background-color: white;
    opacity: .5;
    border: var(--secondary) dotted 1px;
    width: 80%;
    height: 600px;
}

.aside {
    background-color: white;
    opacity: .5;
    border: var(--secondary) dotted 1px;
}

.low {
    background-color: white;
    opacity: .5;
    border: var(--secondary) dotted 1px;
}

.footer {
    background-color: var(--secondary)!important;
	font-size: 20px;
    font-family: var(--font-family-sans-serif);
    height: 50px;
    margin-top: -50px;
}

header {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.8);
}
header.masthead img {
    display: block;
    margin: 0 auto 20px;
}

.profile-img {
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
}

.container1 {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }

.mt-auto, .my-auto {
    margin-top: auto!important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}



